@import url('webfonts.css');
@import url('variables.css');
@import url('navbar.css');
@import url('footer.css');
@import url('homepage-content.css');
@import url('services.css');
@import url('equipe.css');
@import url('creation.css');

body{
    font-size: 16px; /*definition de la taille de base*/
}

html.has-navbar-fixed-top{
    padding-top: calc(2*3.25rem);
}

h1, h3, h4, .titre{
    font-family: titre, sans-serif;
}

h1, .titre{
    font-size: x-large;
}

h3{
    font-size: 1.4rem;
}

h4{
    font-size: large;
    margin-bottom: 1rem;
}

h2, h5, h6{
    font-family: texte, sans-serif;
}

.section{
    padding: 2rem 0;
}

.button{
    border: none;
}

.bouton-blanc, .bouton-orange, .bouton-bleu{
    border: none;
    border-radius: 5px;
    padding: .4rem .5rem;
    margin: .3rem;
}

.bouton-blanc{
    background-color: var(--blanc);
    color: var(--bleu-fonce);
}

.bouton-bleu{
    background-color: var(--bleu-fonce);
    color: var(--blanc);
}

.bouton-orange{
    background-color: var(--orange);
    color: var(--blanc);
}

.bouton-bleu:hover, .bouton-blanc:hover{
    background-color: var(--bleu-clair);
    color: var(--blanc);
}

.fond-bleu{
    background-color: var(--bleu-fonce);
    color: var(--blanc);
}

.fond-orange{
    background-color: var(--orange);
    color: var(--blanc);
}

.fond-bleu-clair{
    background-color: var(--bleu-clair);
    color: var(--blanc);
}

.fond-blanc{
    background-color: var(--blanc);
    color: var(--bleu-fonce);
}

.petit{
    font-size: .7rem;
}

.columns{
    margin-left: 0;
    margin-right: 0;
}

p{
    margin: 1rem;
}

a{
    color: var(--bleu-fonce);
}

a:hover{
    color: var(--bleu-clair);
}

.texte-bleu{
    color: var(--bleu-fonce);
}

.lien-blanc, .texte-blanc{
    color: var(--blanc);
}

strong{
    color: var(--blanc);
}

.gauche{
    float: left;
}

form{
    margin: 3rem;
}

.hover-blanc:hover{
    color: var(--bleu-fonce);
    background-color: var(--blanc);
}

button{
    cursor: pointer;
}

@media screen and (min-width: 64rem) {

    html.has-navbar-fixed-top{
        padding-top: 3.25rem;
    }

    form{
        width: 80%;
        margin: 2rem auto;
    }

}